{% extends 'appearance/base.html' %}
{% block title %}AEON Appearance Predict AI App Menu{% endblock %}

{% block content %}
<div>
    <h4 class="mt-4 mb-5 border-bottom">Predict</h4>
    <p>Select an image file and click on the predict button</p>
    <form action="{% url 'appearance:predict' %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <div class="custom-file">
            {{ form.image }}
            <label class="custom-file-label" for="customFile">
                Select the file you want to predict.
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
    </form> 
</div>
{% endblock %}